.bg-light{
    background-color: #fff !important;
    /* background-color: transparent !important; */
}

.navbar-light .navbar-nav .nav-link{
    text-transform: uppercase;
    color: rgba(0,0,0,.9);
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(10 167 160);
    font-weight: 600;
}